@mixin black-button {
    color: white;
    background-color: $main-bg-color;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

$light-grey-bgcolor: rgb(251,251,251);
$main-bg-color: #28a745;