.very-big-title{
    font-size: 55px;
    font-weight: 700;
}

.big-title {
    font-weight: 700;
    font-size: 30px;
}

.subtitle-bold{
    font-weight: 500;
}

.subtitle {
    font-size: 16px;
}

.middle-title {
    font-weight: 700;
    font-size: 2rem;
}

.cards-title{
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 22px;
}

.cards-subtitle{
    font-size: 0.85rem;
}

ul{
    list-style-type: none;
}

