.big-title {
    font-weight: 700;
    font-size: 3rem;
}

.subtitle-bold{
    font-weight: 500;
}

.subtitle {
    font-size: 0.9rem;
}

.middle-title {
    font-weight: 700;
    font-size: 2rem;
}

.cards-title{
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 22px;
}

.cards-subtitle{
    font-size: 0.85rem;
}

ul{
    list-style-type: none;
}

