.subtitle {
    font-weight: 100;
}

.title {
    font-weight: 700;
    font-size: 2rem;
}

.cards-title{
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 22px;
}

.cards-subtitle{
    font-size: 0.85rem;
}

